body {
    font-family: 'PT Sans Narrow', sans-serif;
}

#center {
    margin: auto;
    margin-top: 20%;
    width: 60%;
    outline: dashed 1px black;
}

h1,
h3 {
    /* Center horizontally*/
    text-align: center;
}