body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

#center {
    margin: auto;
    margin-top: 20%;
    width: 60%;
    outline: dashed 1px black;
}

h1,
h3 {
    /* Center horizontally*/
    text-align: center;
}